---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <main class="hero">
    <h2 class="hero-top">Hello World,</h2>
    <h2 class="hero-bottom">i'm ibE</h2>
    <div class="hero-corner">Digital Creator Since <span class="corner-year">2O24</span></div>
  </main>
</BaseLayout>