---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const pageTitle = "Projects";
const projects: CollectionEntry<'projects'>[] = await getCollection(
  'projects',
  (entry: CollectionEntry<'projects'>) => !entry.data.draft
);
---

<BaseLayout pageTitle={pageTitle}>
  <p class="subtitle">
    Dit zijn mijn projecten die ik tijdens mijn Devine-carrière heb gemaakt.
  </p>

  <ul>
    {projects.map((p: CollectionEntry<'projects'>) => (
  <li>
        <a href={`/projects/${p.id}/`}>{p.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
