---
import Social from './Social.astro';
---
<footer>
  <nav>
    <Social platform="Instagram" username="ibe_kimpe" />
    <Social platform="Behance" username="ibekimpe1" />
    <Social platform="Github" username="Iberex" />
  </nav>
</footer>